## Part 1
### Grap data

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import random
import bisect
import collections

#make var with the url
url = 'http://oldschool.runescape.wiki/w/zulrah'

#get the contents from website
response = requests.get(url, headers = {'User-Agent': 'Mozilla/5.0'})

#extract html data from requests
page_content = response.content

#parse data
soup = BeautifulSoup(page_content, 'lxml')

#find all tables on the page
my_tables = soup.find_all('table', attrs = {"class":"wikitable sortable filterable item-drops autosort=4,a"})

In [6]:
#initialize empty dict
loot_tables = {}
table_index = 0

for table in my_tables:
    #parse rows
    table_rows = table.find_all('tr')
    #parse header
    table_header = table.find_all('th')
    #parse columns
    cols = []
    for item in table_header:
        if len(item.text) > 0:
            cols.append(item.text)
    #parse each row
    data = []
    for row in table_rows:
        table_data = row.find_all('td')
        #remote empty row
        row_data = [item.text for item in table_data if item.text != '']
        
        if len(row_data) > 0:
            data.append(row_data)     
    #print(data)
    #print(cols)
    #make dataframe
    df = pd.DataFrame(data, columns = cols)
    
    loot_tables.setdefault(table_index, df)
    
    table_index += 1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Item       4 non-null      object
 1   Quantity   4 non-null      object
 2   Rarity     4 non-null      object
 3   Price      4 non-null      object
 4   High Alch  4 non-null      object
dtypes: object(5)
memory usage: 288.0+ bytes

In [8]:
df.head()

                  Item Quantity        Rarity     Price High Alch
0        Brimstone key        1     1/50[d 1]  Not sold       N/A
1  Clue scroll (elite)        1  1/75[d 2][4]  Not sold        12
2         Jar of swamp        1    1/3,000[4]    17,817         1
3        Pet snakeling        1    1/4,000[4]  Not sold       N/A

In [9]:
loot_tables

{0:               Item Quantity  Rarity         Price    High Alch
 0  Zulrah's scales  100–299  Always  8,400–25,116  1,200–3,588,
 1:                 Item Quantity       Rarity      Price High Alch
 0     Tanzanite fang        1  2 × 1/1,024  1,664,616    66,000
 1         Magic fang        1  2 × 1/1,024  1,678,454    61,200
 2  Serpentine visage        1  2 × 1/1,024  1,640,105    63,000
 3         Uncut onyx        1  2 × 1/1,024  1,405,802   120,000,
 2:                 Item Quantity        Rarity     Price High Alch
 0  Tanzanite mutagen        1  2 × 1/13,106  Not sold     5,700
 1      Magma mutagen        1  2 × 1/13,106  Not sold     5,700,
 3:               Item    Quantity      Rarity    Price High Alch
 0      Battlestaff  10 (noted)  2 × 10/248   76,330    42,000
 1  Dragon med helm           1   2 × 2/248   58,346    60,000
 2   Dragon halberd           1   2 × 2/248  148,779   150,000,
 4:          Item Quantity      Rarity   Price High Alch
 0  Death rune      300  2 × 12/248  26,700    32,400
 1    Law rune      200  2 × 12/248  23,400    28,800
 2  Chaos rune      500  2 × 12/248  21,000    27,000,
 5:          Item    Quantity     Rarity    Price High Alch
 0  Snapdragon  10 (noted)  2 × 2/248   78,590       350
 1  Dwarf weed  30 (noted)  2 × 2/248   51,090     1,260
 2    Toadflax  25 (noted)  2 × 2/248  100,525       700
 3     Torstol  10 (noted)  2 × 2/248   43,580       450,
 6:                 Item Quantity     Rarity     Price High Alch
 0     Palm tree seed        1  2 × 6/248    13,866       152
 1   Papaya tree seed        3  2 × 6/248       420       207
 2  Calquat tree seed        2  2 × 6/248        70       408
 3         Magic seed        1  2 × 4/248    61,900       253
 4      Toadflax seed        2  2 × 2/248       908        12
 5    Snapdragon seed        1  2 × 2/248    28,377        36
 6    Dwarf weed seed        2  2 × 2/248       396         6
 7       Torstol seed        1  2 × 2/248     4,446        42
 8        Spirit seed        1  2 × 1/248  Not sold         0,
 7:              Item       Quantity         Rarity   Price High Alch
 0       Snakeskin     35 (noted)     2 × 11/248     420     1,050
 1      Runite ore      2 (noted)     2 × 11/248  21,576     3,840
 2    Pure essence  1,500 (noted)     2 × 10/248   3,000     3,000
 3            Flax  1,000 (noted)  2 × 10/248[3]   1,000     3,000
 4        Yew logs     35 (noted)     2 × 10/248   9,485     3,360
 5  Adamantite bar     20 (noted)      2 × 8/248  35,080     7,680
 6            Coal    200 (noted)      2 × 8/248  45,400     5,400
 7    Dragon bones     12 (noted)      2 × 8/248  23,268     1,152
 8   Mahogany logs     50 (noted)      2 × 8/248  22,350     1,500,
 8:                     Item     Quantity      Rarity   Price High Alch
 0     Zul-andra teleport            4  2 × 15/248  86,832        24
 1              Manta ray   35 (noted)  2 × 12/248  28,875     4,200
 2          Antidote++(4)   10 (noted)   2 × 9/248  69,350     2,160
 3  Dragonstone bolt tips           12   2 × 8/248   3,648     4,800
 4                 Grapes  250 (noted)   2 × 6/248   1,750         0
 5                Coconut   20 (noted)   2 × 6/248  35,340     1,040
 6              Swamp tar        1,000   2 × 5/248   2,000         0
 7        Zulrah's scales          500   2 × 5/248  42,000     6,000,
 9:                  Item     Quantity                             Rarity   Price  \
 0             Nothing          N/A           2 × 1/151.87; Never[d 1]     N/A
 1               Coins        3,000                       2 × 1/167.96   3,000
 2    Loop half of key            1        2 × 1/174.99; 1/173.68[d 2]   9,542
 3   Tooth half of key            1        2 × 1/174.99; 1/173.68[d 2]   9,519
 4      Uncut sapphire            1        2 × 1/705.42; 1/358.22[d 2]     269
 5          Runite bar            1                       2 × 1/705.42  12,364
 6         Nature rune           67                      2 × 1/1,175.7   5,762
 7       Rune 2h sword            1                      2 × 1/1,175.7  37,892
 8      Rune battleaxe            1                      2 × 1/1,175.7  24,506
 9       Uncut emerald            1      2 × 1/1,410.84; 1/716.44[d 2]     461
 10           Law rune           45                     2 × 1/1,763.56   5,265
 11         Death rune           45                     2 × 1/1,763.56   4,005
 12        Steel arrow          150                     2 × 1/1,763.56   2,400
 13         Rune arrow           42                     2 × 1/1,763.56   3,444
 14    Adamant javelin           20                     2 × 1/1,763.56   1,240
 15     Rune sq shield            1                     2 × 1/1,763.56  22,721
 16        Dragonstone            1                     2 × 1/1,763.56  11,352
 17         Silver ore  100 (noted)                     2 × 1/1,763.56   3,200
 18         Uncut ruby            1    2 × 1/2,821.69; 1/1,432.89[d 2]     928
 19    Rune kiteshield            1                     2 × 1/3,527.11  31,541
 20    Dragon med helm            1                     2 × 1/3,527.11  58,346
 21         Rune spear            1      2 × 1/3,723.47; 1/432.03[d 2]  11,749
 22   Shield left half            1      2 × 1/7,446.93; 1/864.05[d 2]  65,087
 23    Nature talisman            1     2 × 1/7,524.5; 1/3,821.04[d 2]     167
 24       Dragon spear            1    2 × 1/9,929.24; 1/1,152.07[d 2]  36,994
 25      Uncut diamond            1   2 × 1/11,286.76; 1/5,731.56[d 2]   1,981
 26       Rune javelin            5  2 × 1/22,573.51; 1/11,463.11[d 2]     840

    High Alch
 0        N/A
 1      3,000
 2         60
 3         60
 4         15
 5      3,000
 6      7,236
 7     38,400
 8     24,960
 9         30
 10     6,480
 11     4,860
 12     1,050
 13    10,080
 14     1,920
 15    23,040
 16     6,000
 17     4,500
 18        60
 19    32,640
 20    60,000
 21    12,480
 22    66,000
 23         2
 24    37,440
 25       120
 26     1,200  ,
 10:                   Item Quantity        Rarity     Price High Alch
 0        Brimstone key        1     1/50[d 1]  Not sold       N/A
 1  Clue scroll (elite)        1  1/75[d 2][4]  Not sold        12
 2         Jar of swamp        1    1/3,000[4]    17,817         1
 3        Pet snakeling        1    1/4,000[4]  Not sold       N/A}

In [10]:
loot_tables[0]

              Item Quantity  Rarity         Price    High Alch
0  Zulrah's scales  100–299  Always  8,400–25,116  1,200–3,588

In [11]:
df_loot = pd.concat(loot_tables.values())

In [12]:
df_loot

,Item,Quantity,Rarity,Price,High Alch
0,Zulrah's scales,100–299,Always,"8,400–25,116","1,200–3,588"
0,Tanzanite fang,1,"2 × 1/1,024","1,664,616","66,000"
1,Magic fang,1,"2 × 1/1,024","1,678,454","61,200"
2,Serpentine visage,1,"2 × 1/1,024","1,640,105","63,000"
3,Uncut onyx,1,"2 × 1/1,024","1,405,802","120,000"
...,...,...,...,...,...
26,Rune javelin,5,"2 × 1/22,573.51; 1/11,463.11[d 2]",840,"1,200"
0,Brimstone key,1,1/50[d 1],Not sold,N/A
1,Clue scroll (elite),1,1/75[d 2][4],Not sold,12
2,Jar of swamp,1,"1/3,000[4]","17,817",1
3,Pet snakeling,1,"1/4,000[4]",Not sold,N/A

In [13]:
df_loot.set_index('Item', inplace=True)
df_loot

,Quantity,Rarity,Price,High Alch
Item,,,,
Zulrah's scales,100–299,Always,"8,400–25,116","1,200–3,588"
Tanzanite fang,1,"2 × 1/1,024","1,664,616","66,000"
Magic fang,1,"2 × 1/1,024","1,678,454","61,200"
Serpentine visage,1,"2 × 1/1,024","1,640,105","63,000"
Uncut onyx,1,"2 × 1/1,024","1,405,802","120,000"
...,...,...,...,...
Rune javelin,5,"2 × 1/22,573.51; 1/11,463.11[d 2]",840,"1,200"
Brimstone key,1,1/50[d 1],Not sold,N/A
Clue scroll (elite),1,1/75[d 2][4],Not sold,12
Jar of swamp,1,"1/3,000[4]","17,817",1
Pet snakeling,1,"1/4,000[4]",Not sold,N/A