In [40]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\nsm\anaconda3\lib\site-packages (1.5.16)
Requirement already satisfied: python-slugify in c:\users\nsm\anaconda3\lib\site-packages (from kaggle) (8.0.1)
Requirement already satisfied: bleach in c:\users\nsm\anaconda3\lib\site-packages (from kaggle) (3.1.5)
Requirement already satisfied: tqdm in c:\users\nsm\anaconda3\lib\site-packages (from kaggle) (4.47.0)
Requirement already satisfied: python-dateutil in c:\users\nsm\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in c:\users\nsm\anaconda3\lib\site-packages (from kaggle) (1.25.9)
Requirement already satisfied: six>=1.10 in c:\users\nsm\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in c:\users\nsm\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: requests in c:\users\nsm\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\nsm\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: webencodings in c:\users\nsm\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\nsm\anaconda3\lib\site-packages (from bleach->kaggle) (20.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\nsm\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\nsm\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\nsm\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (2.4.7)

In [41]:
import pandas as pd
import zipfile
import kaggle

In [42]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [43]:
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [44]:
bikes = pd.read_csv('london_merged.csv')

In [45]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [46]:
bikes.shape

(17414, 10)

In [47]:
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [48]:
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [49]:
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [50]:
new_name_columns_dist = {
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_c',
    't2':'temp_feels_like_c',
    'hum':'hunidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}
bikes.rename(new_name_columns_dist, axis=1, inplace=True)

In [51]:
bikes.hunidity_percent = bikes.hunidity_percent / 100

In [52]:
season_name_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

weather_descr_dict = {
    '1.0':'clear',
    '2.0':'scattered_clouds',
    '3.0':'broken_clouds',
    '4.0':'cloudy',
    '7.0':'rain',
    '10.0':'rain_thunderstorm',
    '26.0':'showfall'
}

bikes.season = bikes.season.astype('str')

bikes.season = bikes.season.map(season_name_dict)

bikes.weather = bikes.weather.astype('str')

bikes.weather = bikes.weather.map(weather_descr_dict)

In [53]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               17414 non-null  object
 1   count              17414 non-null  int64
 2   temp_real_c        17414 non-null  float64
 3   temp_feels_like_c  17414 non-null  float64
 4   hunidity_percent   17414 non-null  float64
 5   wind_speed_kph     17414 non-null  float64
 6   weather            17414 non-null  object
 7   is_holiday         17414 non-null  float64
 8   is_weekend         17414 non-null  float64
 9   season             17414 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

In [54]:
bikes.head()

,time,count,temp_real_c,temp_feels_like_c,hunidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken_clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [55]:
bikes.to_excel('my_london_bikes_final.xlsx', sheet_name='Data')